/* /////////////////////GENERAL STYLING/////////////////////////// */
body,
* {
    padding: 0;
    margin: 0;
}

main {
    height: 100vh;
    width: 100vw;
}

/* //////////////////////FORMS//////////////////////////////////// */

.chat-container {
    /* padding: 10px; */
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow: auto;
    width: 90%;
    height: 85vh;
    overflow-y: scroll;
    margin-left: 50px;
}

.talk-bubble {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    min-width: 100px;
    background-color: azure;
    margin: 5px;
    padding: 10px;
    display: inline-block;
    height: auto;
    border-radius: 10px;
    max-width: 75%;
    box-shadow: 1px 1px 1px 1px #ccc;
}

/* .chat-area {
    display: "flex";
    flex-direction: row;
    background-color: "red";
    width: 1000px;
} */

.chat-input {
    justify-self: flex-end;
    width: 90%;
}

/* /////////////SCROLL BAR////// */
